.vs/slnx.sqlite
.vs/*
*.pdb
*.cache
Loader.Application/job_result/*
Loader.Application/Hangfire.db
Loader.Application/log/*
Loader.Application/bin/*
Loader.Application/obj/*
Loader.Application/Hangfire.db
Loader.Application/bin/*
Loader.Application/obj/*
Loader.Domain/bin/*
Loader.Domain/obj/*
Loader.Infra/bin/*
Loader.Infra/obj/*
Loader.Service/bin/*
Loader.Service/obj/*
Loader.Application/Hangfire.db
Loader.Application/healthchecksdb
